html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  height: 100%;
}
