:root {
  --font-size: 1em;


  --layout-height: 48px;
  --layout-spacing: 1rem;
  --layout--spacing--menu-item: 12px;


  --color-background: #f5f6f7;
  --color-text: #181a1b;
  --color-white: #fff;

}